<div class="favorite-list container-padding">
  <h1 class='header-favorite'>My Favorites</h1>
  <% @favorites.each do |favorite| %>
    <%= render "recommendations/card", recommendation: favorite.recommendation, page: get_recommendation_card_page %>
  <% end %>
</div>
