// THIS IS FOR INDEX
.container {
  background-color: #ffffff; /* Background color */

}

  h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    text-align: center;
    color: #394867; /* Primary color */
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 1.2;
    text-transform: capitalize;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  }

  .main {
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    background-color: #fff;

    .search-item {
      .image-icon {
        display: flex;
        align-items: center;

        .image-container {
          width: 150px;
          height: 150px;
          overflow: hidden;
          border-radius: 10px;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .rating {
          padding: 5px 10px;
          background-color: #e4bb97; /* Highlight color */
          border-radius: 5px;
          font-weight: bold;
          color: #394867; /* Primary color */
          display: flex;
          align-items: center;
          justify-content: center;

          i {
            color: #ffd700; /* Gold color */
            margin-left: 5px;
            background-color: #fff;
            border-radius: 50%;
            padding: 5px;
          }
        }

        .share {
          margin-left: auto;
          padding: 10px;
          font-size: 1.2em;
          color: #394867; /* Primary color */
          display: flex;
          gap: 10px;

          i {
            color: #85d5b7; /* Accent color */
          }
        }
      }

      p {
        margin-top: 20px;
        font-size: 1.1em;
        color: #394867; /* Primary color */
        line-height: 1.6;
        letter-spacing: 0.5px;
      }

      .btn-custom {
        margin-top: 20px;
        padding: 10px 20px;
        font-size: 1.1em;
        border-radius: 10px;
        background-color: #85d5b7; /* Accent color */
        color: #fff;
        transition: background-color 0.3s;
        align-self: flex-start;

        &:hover {
          background-color: #4c9a96; /* Darker shade of accent color */
        }
      }
    }
  }

// THIS IS FOR SHOW

// icons
.fa-heart-circle-plus {
  font-size: 35px;
  border-radius: 50%;
  padding: 20px;
  color: #5B7553;
}
.fa-arrow-left, .fa-share-nodes, .fa-heart {
  font-size: 25px;
  padding: 10px;
  color: #5B7553;
}
// images
.show-image {
  width: 100%;
}
// Position
.position-absolute {
  background-color: #ffffff;
  padding: 1em 2em;
  width: 80%;
  margin-bottom: 10px;
  border-radius: 25px 25px 0 0;
  text-align: center;
}
