// THIS IS FOR INDEX
.container {
  background-color: #ffffff; /* Background color */
}

  .search-recommendation{
    font-size: 2.5em;
    margin-bottom: 20px;
    text-align: center;
    color: #394867; /* Primary color */
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 1.2;
    text-transform: capitalize;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  }

  .main {
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    background-color: #fff;

    .search-item-recommendation {
        background-color: var(--background-color);
        padding: 20px; /* Increased padding */
        border-radius: 8px;
        margin-bottom: 20px; /* Increased margin-bottom for spacing between search-items */

      // .img {
      //   width: 100%;
      //   border-radius: 8px;
      // }

      .image-icon {
        display: flex;
        align-items: center;
        position: relative;
      }
    }
  }


.search-item {
  .image-icon {
    position: relative;
    display: flex;
    align-items: center;
  }

  .description-name {
    margin-top: 10px;
    font-size: 1.3em;
    color: black;
    line-height: 1.6;
    letter-spacing: 0.5px;
    font-family: 'Arial', sans-serif;
    text-align: center;
    font-weight: bold;
  }
}

.image-container {
  width: 750px;
  height: 150px;
  overflow: hidden;
  border-radius: 10px;
  border: 1px solid #ccc; /* Add border */
}

.rating {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 5px 10px;
  background-color: white;
  border-radius: 5px;
  font-weight: bold;
  color: #394867;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

.rating i {
  color: #F9B908;
  margin-left: 5px;
}

.share {
  position: absolute;
  top: 0;
  left: calc(100%);
  padding: 10px;
  font-size: 1.2em;
  color: #b31313;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #5B7553;
  border-radius: 10px;
}
      .description{
        margin-top: 20px;
        font-size: 1.1em;
        color: #394867; /* Primary color */
        line-height: 1.6;
        letter-spacing: 0.5px;
      }

.share i {
  color: #85d5b7;
}

.btn-custom {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1em;
  border-radius: 10px;
  background-color: #9DDBAD;
  color: black;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}
