<!-- app/views/pages/_icons.html.erb -->
<div style="width: 400px" data-controller="icons">
  <section class="icons-section">
    <div class="icon-container" id="icon-container">
      <div data-category="" class="icon-item text-decoration-none text-dark" data-action="click->icons#toggleActive" data-icons-target="icon">
        <i class="fas fa-search"></i>
        <span class="icon-name">Search All</span>
      </div>
      <div data-category="beach" class="icon-item text-decoration-none text-dark" data-action="click->icons#toggleActive" data-icons-target="icon">
        <i class="fas fa-umbrella-beach"></i>
        <span class="icon-name">Beach</span>
      </div>
      <div data-category="restaurant" class="icon-item text-decoration-none text-dark" data-action="click->icons#toggleActive" data-icons-target="icon">
        <i class="fas fa-utensils"></i>
        <span class="icon-name">Food</span>
      </div>
      <div data-category="biking" class="icon-item text-decoration-none text-dark" data-action="click->icons#toggleActive" data-icons-target="icon">
        <i class="fas fa-biking"></i>
        <span class="icon-name">Biking</span>
      </div>
      <div data-category="pets" class="icon-item text-decoration-none text-dark" data-action="click->icons#toggleActive" data-icons-target="icon">
        <i class="fas fa-dog"></i>
        <span class="icon-name">Pets</span>
      </div>
      <div data-category="shopping" class="icon-item text-decoration-none text-dark" data-action="click->icons#toggleActive" data-icons-target="icon">
        <i class="fas fa-tshirt"></i>
        <span class="icon-name">Shopping</span>
      </div>
      <div data-category="park" class="icon-item text-decoration-none text-dark" data-action="click->icons#toggleActive" data-icons-target="icon">
        <i class="fas fa-tree"></i>
        <span class="icon-name">Parks</span>
      </div>
      <div data-category="street_food" class="icon-item text-decoration-none text-dark" data-action="click->icons#toggleActive" data-icons-target="icon">
        <i class="fas fa-hotdog"></i>
        <span class="icon-name">Street Food</span>
      </div>
      <div data-category="outdoor" class="icon-item text-decoration-none text-dark" data-action="click->icons#toggleActive" data-icons-target="icon">
        <i class="fas fa-mountain"></i>
        <span class="icon-name">Outdoor</span>
      </div>
      <div data-category="dogs_activity" class="icon-item text-decoration-none text-dark" data-action="click->icons#toggleActive" data-icons-target="icon">
        <i class="fas fa-paw"></i>
        <span class="icon-name">Dogs Activity</span>
      </div>
      <div data-category="kids_activity" class="icon-item text-decoration-none text-dark" data-action="click->icons#toggleActive" data-icons-target="icon">
        <i class="fas fa-child"></i>
        <span class="icon-name">Kids Activity</span>
      </div>
      <div data-category="zoo" class="icon-item text-decoration-none text-dark" data-action="click->icons#toggleActive" data-icons-target="icon">
        <i class="fas fa-hippo"></i>
        <span class="icon-name">Zoo</span>
      </div>
    </div>
  </section>
</div>
