
  <section class="icons-section">
    <button class="arrow left-arrow" id="left-arrow">&#10094;</button>
    <div class="icon-container" id="icon-container">
      <div class="icon-item">
        <i class="fas fa-umbrella-beach"></i>
        <span class="icon-name">Beach</span>
      </div>
      <div class="icon-item">
        <i class="fas fa-utensils"></i>
        <span class="icon-name">Food</span>
      </div>
      <div class="icon-item">
        <i class="fas fa-biking"></i>
        <span class="icon-name">Biking</span>
      </div>
      <div class="icon-item">
        <i class="fas fa-dog"></i>
        <span class="icon-name">Pets</span>
      </div>
      <div class="icon-item">
        <i class="fas fa-tshirt"></i>
        <span class="icon-name">Shopping</span>
      </div>
      <div class="icon-item">
        <i class="fas fa-train"></i>
        <span class="icon-name">Transport</span>
      </div>
      <div class="icon-item">
        <i class="fas fa-tree"></i>
        <span class="icon-name">Parks</span>
      </div>
      <div class="icon-item">
        <i class="fas fa-hotdog"></i>
        <span class="icon-name">Street Food</span>
      </div>
      <div class="icon-item">
        <i class="fas fa-mountain"></i>
        <span class="icon-name">Outdoor</span>
      </div>
      <div class="icon-item">
        <i class="fas fa-paw"></i>
        <span class="icon-name">Dogs Activity</span>
      </div>
      <div class="icon-item">
        <i class="fas fa-child"></i>
        <span class="icon-name">Kids Activity</span>
      </div>
      <div class="icon-item">
        <i class="fas fa-hippo"></i>
        <span class="icon-name">Zoo</span>
      </div>
    </div>
    <button class="arrow right-arrow" id="right-arrow">&#10095;</button>
  </section>
