<main>
  <section class="search">
    <div class="input-group">
      <i class="fas fa-calendar-alt"></i>
      <input type="text" placeholder="July 08 - July 15" class="input-date">
    </div>
    <div class="input-group">
      <i class="fas fa-user-friends"></i>
      <input type="number" placeholder="2 Guests" class="input-guests">
      <button class="button-minus">-</button>
      <button class="button-plus">+</button>
    </div>
    <div class="input-group">
     
      
      <label for="pets" class="pets-label"> with Children?</label>
      <input type="checkbox" id="pets">
     
      <label for="pets" class="pets-label">with pets?</label>
      <input type="checkbox" id="pets">
    </div>
    <button type="button" class="search-button">Search</button>
  </section>
  <section class="icons">
    <i class="fas fa-umbrella-beach"></i>
    <i class="fas fa-utensils"></i>
    <i class="fas fa-biking"></i>
    <i class="fas fa-dog"></i>
    <i class="fas fa-tshirt"></i>
    <i class="fas fa-train"></i>
  </section>
  <section class="recommendations">
    <h2>Things to do in Montreal this June 2024</h2>
    <article class="recommendation">
      <img src="https://wallpapers.com/images/high/notre-dame-basilica-of-montreal-lre8tt8764jua14r.webp" alt="Montreal" class="">
      <div class="recommendation-content">
        <span class="badge">Must</span>
        <p>Summer starts its engines in Montréal this June — not only with the Grand Prix Formula 1 races but with a high-energy summer festival season. From MURAL to the Jazz Fest to the Francos...</p>
      </div>
    </article>
  </section>
</main>