<!-- app/views/recommendations/index.html.erb -->
<div class="recommendations-container filter-modal" data-controller="filter icons">
  <div class="filter-icon-container">
    <i class="fas fa-sliders-h filter-icon"></i>
  </div>

  <!-- Modal Structure -->
  <div class="modal" data-filter-target="modal">
    <div class="modal-content" data-filter-target="modalContent">
      <span class="close-button" data-action="click->filter#closeModal">&times;</span>
      <h2>Filter and Search</h2>

      <form action="/recommendations" method="get" data-filter-target="searchForm">
        <div class="input-group-recommendation">
          <label for="search-input">Search by name:</label>
          <input type="text" name="query" placeholder="Enter name" class="form-control-recommendation" data-filter-target="searchInput" id="search-input">
        </div>
        <div class="price-range-container">
          <h3>Price range</h3>
          <p>Nightly prices before fees and taxes</p>
          <input type="range" min="0" max="1000" value="0" class="range-slider" data-filter-target="priceRangeSlider">
          <div class="price-range-inputs">
            <input type="number" id="minPrice" name="min_price" placeholder="Min" data-filter-target="minPrice">
            <input type="number" id="maxPrice" name="max_price" placeholder="Max" data-filter-target="maxPrice">
          </div>
        </div>
        <button type="submit" class="btn-primary-recommendation">Search</button>
      </form>
    </div>
  </div>

  <%= render "pages/icons" %>

  </div>
</div>
