<div class="top-bar">
  <div class="top-bar-content">
    <a href="https://ibb.co/s1bTPMP">
      <img src="https://i.ibb.co/c8kWv7v/logo.png" class="logo" alt="Leisurelyfe Logo">
    </a>
   <!-- <i class="notification fa-regular fa-bell"></i> -->
     <!--  <i class="notification fas fa-bell"></i>  -->
  </div>
</div>