<%= render 'pages/top_bar' %>
<%= render 'pages/search_main' %>

<!-- Recommendations Section -->
<section class="custom-recommendations">
  <article class="custom-recommendation">
  <h3 class="colored-text text-center">Top Pick of the week</h3>
    <% @recommendations.each do |recommendation| %>
      <%= render "recommendations/card", recommendation: recommendation, page: get_recommendation_card_page %>
    <% end %>
  </article>
</section>
<%= render 'pages/footer' %>
