<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<% @events.each do |event| %>
  <div>
    <h2><%= event[:title] %></h2>
    <p><%= event[:description] %></p>
    <p><%= event[:category] %></p>
  </div>
<% end %>
