
.checkbox-wrapper-61 input[type="checkbox"] {
  visibility: hidden;
  display: none;
}

.checkbox-wrapper-61 *,
.checkbox-wrapper-61 ::after,
.checkbox-wrapper-61 ::before {
  box-sizing: border-box;
}

.checkbox-wrapper-61 {
  position: relative;
  display: block;

}

.checkbox-wrapper-61 .check {
  width: 50px;
  height: 50px;
  position: absolute;
  opacity: 0;
}

.checkbox-wrapper-61 .label svg {
  vertical-align: middle;
}

.checkbox-wrapper-61 .path1 {
  stroke-dasharray: 400;
  stroke-dashoffset: 400;
  transition: .5s stroke-dashoffset;
  opacity: 0;
}

.checkbox-wrapper-61 .check:checked + .label svg g path {
  stroke-dashoffset: 0;
  opacity: 1;
}
