
.favorite-list{
  background-color: $primary-color;
  width: 100%;
}

.card-image {
  height: 100%;
  width: 40%;
  object-fit: cover;
}

.container-margin{
  margin: 20px 0;
}

.favorite-item {
  height: 170px;
  overflow: hidden;
  background-color: #F0F0F0; /* Light gray background */
  border-radius: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  margin-bottom: 35px; /* Add spacing between each favorite item */
  display: flex; /* Use flexbox */
  align-items: start; /* Center vertically */
}

.restaurant-name {
  font-size: 18px; /* Increase font size for prominence */
  font-weight: bold; /* Add boldness for emphasis */
  color: rgb(27, 26, 26); /* Dark text color */
  margin: 0;
  text-transform: capitalize; /* Capitalize the text for elegance */
  text-shadow: 1px 1px 2px rgba(0,0,0,0.2); /* Add a subtle text shadow for depth */
}

.description-container {
  margin: 10px;
  padding: 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.truncated-description {
  font-size: 14px;
  color: #333333;
  margin-bottom: 15px;
  flex: 1; /* Allow description to take up remaining space */
}

.remove-favorite {
  cursor: pointer;
  border: none; /* Show pointer cursor on hover */

}
.container-button {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.remove-favorite:hover {
  color: #FF6666; /* Lighter shade of red on hover */
}

.fa-remove{
  font-size: 15px;
}
