
  footer {
    background-color: #fff;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
  }

  footer nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
  }

  footer nav ul li a {
    text-decoration: none;
    color: var(--primary-color);
    padding: 10px;
    display: block;
  }

  footer nav ul li a i {
    font-size: 24px;
  }