 .landing-intro {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: 40px 20px 0px 20px;
    background-color: #C8EAD0; /* Light grey background */
    color: #333; /* Dark grey text */
  }

  .landing-intro h1 {
    font-size: 2.5em; /* Adjust size as needed */
    font-weight: 700;
    margin-bottom: 20px;
    color: #2c3e50; /* Dark blue text for the heading */
  }

  .landing-intro p {
    font-size: 1.25em; /* Adjust size as needed */
    color: #7f8c8d; /* Lighter grey for the paragraph */
    max-width: 600px; /* Limit width for better readability */
    margin: 0 auto;
  }
