.top-bar {
  background-color: var(--background-color);
  padding: 10px 20px;
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center;
  position: relative;
  min-height: 100px;
}

.top-bar-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative; /* Ensures proper positioning of the logo */
}

.logo {
  height: 83px !important;
  width: auto !important;
}

.notification {
  position: absolute;
  right: 20px;
  font-size: 20px;
  color: var(--gray);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.43);
  padding: 10px;
  border-radius: 50%;
}

.favorites-icon {
  position: absolute;
  right: 20px; /* Positioned to the far right */
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
  color: var(--primary-color); /* Adjust color as needed */
}

.cart-icon {
  height: 24px; /* Adjust size as needed */
  width: 24px;  /* Adjust size as needed */
}
