
body{ 
  background-color: var(--background-color);
}

.top-bar {
  background-color: var(--background-color);
  padding: 10px 20px;
  display: flex;
  justify-content: center; /* Centering the content horizontally */
  align-items: center;
  position: relative; /* Allows absolute positioning of the notification */
  min-height: 100px; /* Ensures the top bar can expand */
}

.top-bar-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.logo {
  height: 73px !important; /* Force the height */
  width: auto !important; /* Maintain aspect ratio */
}

.notification {
  position: absolute; /* Position the notification independently */
  right: 20px; /* Adjust as needed to position correctly */
  font-size: 20px; /* Adjust the size */
  color: var(--gray);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.43);
  padding: 10px;
  border-radius: 50%;
}




